
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --white:hsl(0, 0%, 100%);
    --light:hsl(212, 45%, 89%);
    --Grayish:hsl(220, 15%, 55%);
    --Dark:hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light);
    font-family: 'Outfit', sans-serif;
}
.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 12px 36px;
}
.btn--primary:hover {
    background: #6c7ff2;
}
.btn--primary:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.btn--inside {
    margin-left: -96px;
}
.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}
.loader {
    height: 50px;
    width: 50px;
    margin: 0px auto;
}
.qrZone{
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.qrZone >.qrContent{
background-color: #3685ff;
margin: 0px auto;
border-radius: 20px;
}
.main{
    background-color: var(--white);
    width: 330px;
    padding-bottom: 30px;
    border-radius: 15px;
    margin: 20px auto;

    
}
.cardText{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 10px ;
}
h2{
    color: var(--Dark);
    margin-bottom: 15px ;
}
.text-primary{
    font-size: 15px;
    color: var(--Grayish);
    /* margin-bottom: 10px; */
}
.text{
    text-align: center;
    margin-right: 48px;
    font-size: 15px;
    color: var(--Grayish);
}
  .bubbles{
    z-index:0;
    overflow:hidden;
    position: relative;
  }
  .bubble{
    position: absolute;
    
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#3685ff;
    border-radius:50%;
    opacity:0.5;
    z-index: -1;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }